<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 Hours</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header> 
    <h1> Balance Tracker </h1>  
  </header>
  <div>
    Temp Div
  </div>
    <!-- your form request will align with the post request! -->
     <div class="formContainer">
      <form action="/createTransaction" method="POST">
          <input type="text" placeholder="Description" name="description"/>
          <input type="number" placeholder="Amount" name="amount"/>
          <label for="type"> Type: </label>
          <div>
            <select id="type" name="type">
              <option value="Expense">Expense</option>
              <option value="Income">Income</option>
            </select>
            <button type="submit">Submit Transaction</button>
          </div>

      </form>
     </div>

    
    <div class="transactionsContainer">
        <h3> Items: <%= expenses.length %></h3>          
        <%
          let totalIncome = 0;
          let totalExpense = 0;
          expenses.forEach(el => {
              if(el.type === 'Income'){
                totalIncome += Number(el.amount)
              } else {
                totalExpense += Number(el.amount)
              }
            })
        %>
        <h3> Total Income: <%= totalIncome %></h3>
        <h3> Total Expense: <%= totalExpense %></h3>
        <h3> Net: <%= totalIncome - totalExpense %></h3>

        <ul class="ulContainer">
          <!-- Loop through expenses -->
        <% expenses.forEach( el => { %>
            <!-- Create a variable to hold the type -->
            <% const typeClass = el.type.toLowerCase(); %>
            <!-- Creating a second variable to add to the li variable - parent -->
            <% const typeClassForLi = el.type.toUpperCase(); %>

            <li class="transactions <%= typeClassForLi %>" data-id='<%=el._id%>'>

                <!-- Output description from the iterated  object -->
                <span class="itemsMatrix description"><%= el.description %></span>
                <!-- Output amount from the iterated  object -->
                <span class="itemsMatrix amount <%= typeClass %>"><%= el.amount %></span>
                <span class="itemsMatrix type"><%= el.type.toUpperCase() %></span>

                <button class="update-button"> Update Amount </button>
                <button class="delete-button"> Delete </button>                
            </li>
        <% }) %>    
        </ul>

    </div>

    <script src="/main.js" > </script>
    
</body>
</html>