<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 Hours</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header> 
    <h1> Balance Tracker </h1>  
  </header>
    <!-- your form request will align with the post request! -->
    <form action="/addTransaction" method="POST">
        <input type="text" placeholder="Description" name="description"/>
        <input type="number" placeholder="Amount" name="amount"/>
        <label for="type"> Type: </label>
        <select id="type" name="type">
          <option value="expense">Expense </option>
          <option value="income"> Income </option>
        </select>
        <button type="submit">Submit Transaction</button>
    </form>
    
    <div class="tempContainer">
        <h3> Items: <%= expenses.length %></h3>          
        <%
          let totalIncome = 0;
          let totalExpense = 0;
          for(var i = 0; i < expenses.length; i++){
            if(expenses[i].type === 'income'){
              totalIncome += Number(expenses[i].amount)
            }else{
              totalExpense += Number(expenses[i].amount)
            }
          }
        %>
        <h3> Total Income: <%= totalIncome %></h3>
        <h3> Total Expense: <%= totalExpense %></h3>
        <h3> Net: <%= totalIncome - totalExpense %></h3>

        <ul class="ulContainer">
          <!-- Loop through expenses -->
          <% for(var i = 0; i < expenses.length; i++) {%>
            
            <!-- Create a variable to hold the type -->
            <% const typeClass = expenses[i].type.toLowerCase(); %> 
            <!-- Creating a second variable to add to the li variable - parent -->
            <% const typeClassForLi = expenses[i].type.toUpperCase(); %> 
            <!-- included a data-id to pull the information much easily and efficient -->
          <li class="transactions <%= typeClassForLi %>" data-id="<%= expenses[i]._id %>">
            <!-- Output description from the iterated  object -->
            <span class="itemsMatrix description"><%= expenses[i].description %></span>
            <!-- Output amount from the iterated  object -->
            <span class="itemsMatrix amount <%= typeClass %>"><%= expenses[i].amount %></span>
            <span class="itemsMatrix type"><%= expenses[i].type.toUpperCase() %></span>

            <button class="update-button"> Update Amount </button>
            <button class="delete-button"> Delete </button>
          </li>
          <% } %>
        </ul>

    </div>

    <script src="/main.js" > </script>
    
</body>
</html>